@font-face {
    font-family: 'DMSans';
    src: local('DMSans'), url('./static/fonts/DMSans.ttf') format('truetype');
  }

  .MainFont {
    font-family: 'DMSans';
  }

  .Title, .h1 {
    text-align: center;
    font-size: 56px;
    margin-top: 25px;
  }

  .bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: rgb(33, 120, 201) !important;
}

  .navbar {
    --bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: 0.5rem;
    --bs-navbar-color: rgb(255, 255, 255);
    --bs-navbar-hover-color: rgb(250, 119, 43);
    --bs-navbar-disabled-color: rgb(250, 119, 43);
}

  .FirstSection {
    text-align: center;
    font-weight: lighter;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 20px;
  }

  .accordion-button:not(.collapsed) {
    color: rgb(255, 255, 255);
    background-color: rgb(33, 120, 201) !important;
  }