.breedformsubmit {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 10px;
    box-sizing: border-box;
}

.inputstyle {
    border-radius: 25px;
    width: 300px;
    height: 37.5px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    margin-bottom: 10px
}

.centertable {
    display: block;
    justify-content: center;
    text-align: center;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.centerbuttondiv {
    text-align: center;
    justify-content: center;
    padding-bottom: 25px;  
}

.addbutton {
    color: white;
    border-radius: 25px;
    border-color: rgb(33, 120, 201);
    background: rgb(33, 120, 201);
    width: 320px;
    height: 40px;
    display: table-cell;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 5px
}

.deletebutton {
    color: white;
    border-radius: 25px;
    border-color: rgb(33, 120, 201);
    background: rgb(33, 120, 201);
    width: 320px;
    height: 40px;
    display: table-cell;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 5px
}

.addbutton:hover {
    color: rgba(250, 119, 43, 1.0);
}

.deletebutton:hover {
    color: rgba(250, 119, 43, 1.0);
}

a {
    color: white;
    text-decoration: none;
}

th, td {
    width: 250px;
    padding-left: 20px;
    padding-right: 20px;
}

th {
    background-color: rgb(250, 119, 43);
    color: white;
  }

tr:nth-child(even) {
    background-color: #e4dfdf;
}